* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-family: 'Dancing Script', cursive;
    margin-top: 2%;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #ff4500;
}

.container {
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(back_login.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
}

.form-box {
    width: 380px;
    height: 480px;
    position: relative;
    margin: 3% auto;
    background-color: rgba(255, 255, 255, 0.85);
    padding: 5px;
    overflow: hidden;
    border-radius: 10px;
}

.button-box {
    width: 220px;
    margin: 30px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}

.toogle-btn {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border-radius: 30px;
    transition: .5s;
}

.input-group {
    top: 100px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.input-group>a {
    font-size: 15px;
    text-decoration: none;
    padding: 10px;
    margin: 12px 0;
    display: block;
    text-align: center;
}

.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 10px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.submit-btn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: 15px auto 0 auto;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border: 0;
    outline: none;
    border-radius: 30px;
    font-size: 15px;
}

.submit-btn:hover {
    background: linear-gradient(to right, #ff216f, #ffbe17)
}

footer {
    background: linear-gradient(to right, #ff105f, #ffad06);
    width: 100%;
    height: 100px;
    text-align: center;
}

footer p {
    padding: 10px;
    color: black;
}

#login {
    left: 50px;
}

#register {
    left: 450px;
}